<div class="row">
  <div class="col-sm-12">

    <!--Header Section-->
    <div class="row" style="background-color: lightskyblue;height:70px;padding-top: 10px;font-size:large ;">
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <a routerLink="home" style="text-decoration: none;color: #0957b0;">
          <img style="width: 50px;margin-bottom: 40px;" src="Images/Care.jpg " alt="Care"/>
        </a>
      </div>
      <div class="col-sm-7" style="margin-top: 10px;">
        <a routerLink="home" style="margin-left: 30px;color:#0957b0;text-decoration: none;font-size:large;font-weight: bold;">Home</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="login" style="margin-left: 30px;color:#0957b0;text-decoration: none;font-size:large;font-weight: bold;">Login</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="register" style="margin-left: 30px;color:#0957b0;text-decoration: none;font-size:large;font-weight: bold;">MangeralAdminRegistration</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="aboutus" style="margin-left: 30px;color:#0957b0;text-decoration: none;font-size:large;font-weight: bold;">AboutUs</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="contactus" style="margin-left: 30px;color:#0957b0;text-decoration: none;font-size:large;font-weight: bold;">ContactUs</a>
      </div>
      <div class="col-sm-3">
        <img style="width:35px;margin-left:60px;" src="Images/icon.png "/>
        <img style="width:35px;margin-left:60px;" src="Images/Login.png "/>
      </div>
    </div>

    <!--Content Section-->
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!--Footer Section-->
    <div class="row" style="background-color:lightskyblue;height: 120px;font-size:large ;">
      <div class="col-sm-3">
        <img style="max-width: 100px;margin-bottom: 20px;margin-top:10px;margin-left: 30px;" src="Images/logo2.jpg "/>
      </div>
      <div class="col-sm-5">
        <span>Get Care Hosipatal App</span>
        <img style="max-width: 50px;margin-bottom: 20px;margin-top:10px;margin-left: 30px;" src="Images/app.png "/>
        <img style="max-width: 50px;margin-bottom: 20px;margin-top:10px;margin-left: 30px;" src="Images/play.png "/>
      </div>
      <div class="col-sm-3">
        <span>Find us on</span>
        <img style="max-width: 50px;margin-bottom: 20px;margin-top:10px;margin-left: 30px;" src="Images/fb.png "/>
        <img style="max-width: 50px;margin-bottom: 20px;margin-top:10px;margin-left: 30px;" src="Images/tw.png "/>
        <img style="max-width: 50px;margin-bottom: 20px;margin-top:10px;margin-left: 30px;" src="Images/Insta.png "/>
      </div>
    </div>
  </div>
</div>


     